<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njtech.smartuniversity.dao.CardBeanMapper">
  <resultMap id="BaseResultMap" type="com.njtech.smartuniversity.bean.CardBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="card_vid" jdbcType="VARCHAR" property="cardVid" />
    <result column="sq_id" jdbcType="VARCHAR" property="sqId" />
    <result column="auth_id" jdbcType="INTEGER" property="authId" />
    <result column="application_time" jdbcType="TIMESTAMP" property="applicationTime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, card_vid, sq_id, auth_id, application_time, state
  </sql>
  <select id="selectByExample" parameterType="com.njtech.smartuniversity.bean.CardBeanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from card
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from card
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from card
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.njtech.smartuniversity.bean.CardBeanExample">
    delete from card
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njtech.smartuniversity.bean.CardBean">
    insert into card (id, card_vid, sq_id, 
      auth_id, application_time, state
      )
    values (#{id,jdbcType=INTEGER}, #{cardVid,jdbcType=VARCHAR}, #{sqId,jdbcType=VARCHAR}, 
      #{authId,jdbcType=INTEGER}, #{applicationTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.njtech.smartuniversity.bean.CardBean">
    insert into card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cardVid != null">
        card_vid,
      </if>
      <if test="sqId != null">
        sq_id,
      </if>
      <if test="authId != null">
        auth_id,
      </if>
      <if test="applicationTime != null">
        application_time,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cardVid != null">
        #{cardVid,jdbcType=VARCHAR},
      </if>
      <if test="sqId != null">
        #{sqId,jdbcType=VARCHAR},
      </if>
      <if test="authId != null">
        #{authId,jdbcType=INTEGER},
      </if>
      <if test="applicationTime != null">
        #{applicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njtech.smartuniversity.bean.CardBeanExample" resultType="java.lang.Long">
    select count(*) from card
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update card
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cardVid != null">
        card_vid = #{record.cardVid,jdbcType=VARCHAR},
      </if>
      <if test="record.sqId != null">
        sq_id = #{record.sqId,jdbcType=VARCHAR},
      </if>
      <if test="record.authId != null">
        auth_id = #{record.authId,jdbcType=INTEGER},
      </if>
      <if test="record.applicationTime != null">
        application_time = #{record.applicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update card
    set id = #{record.id,jdbcType=INTEGER},
      card_vid = #{record.cardVid,jdbcType=VARCHAR},
      sq_id = #{record.sqId,jdbcType=VARCHAR},
      auth_id = #{record.authId,jdbcType=INTEGER},
      application_time = #{record.applicationTime,jdbcType=TIMESTAMP},
      state = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njtech.smartuniversity.bean.CardBean">
    update card
    <set>
      <if test="cardVid != null">
        card_vid = #{cardVid,jdbcType=VARCHAR},
      </if>
      <if test="sqId != null">
        sq_id = #{sqId,jdbcType=VARCHAR},
      </if>
      <if test="authId != null">
        auth_id = #{authId,jdbcType=INTEGER},
      </if>
      <if test="applicationTime != null">
        application_time = #{applicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njtech.smartuniversity.bean.CardBean">
    update card
    set card_vid = #{cardVid,jdbcType=VARCHAR},
      sq_id = #{sqId,jdbcType=VARCHAR},
      auth_id = #{authId,jdbcType=INTEGER},
      application_time = #{applicationTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>